* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* user-select: none; */
  list-style: none;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}

a.active {
  color: var(--wine);
}

:root {
  --black: #010101ff;
  --wine: #602730ff;
  --night: #121212ff;
  --cardinal: #c82034ff;
  --cardinal-2: #c91f33ff;
}
.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.progress-bar {
  height: 100%;
  background: var(--cardinal);
  border-radius: 10px;
  transition: width 0.2s ease;
}
.product-detail {
  display: flex;
  width: 90%;
  margin: 0 auto;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  padding-top: 90px;
}
.product-detail header {
  width: 100vw;
  background: var(--wine);
  padding-bottom: 10px;
}
.product-detail > * {
  width: 50%;
}
.product-detail > .image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
.product-detail > .image-box .larg-image {
  max-width: 600px;
  width: 100%;
  max-height: 450px;
  height: 450px;
}

.product-detail > .image-box img {
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  animation: changeImgae 400ms ease-in-out;
}
.product-detail > .image-box .small-images {
  display: flex;
  width: 100%;
  gap: 10px;
  max-width: 600px;
  overflow-x: hidden;
}
.product-detail > .image-box .small-images img {
  border-radius: 4px;
  width: 150px;
  height: 200px;
  object-fit: cover;
}
@keyframes changeImgae {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.product-detail .detail-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* align-items: center; */

  padding: 20px;
  /* justify-content: center; */
}
.product-detail .detail-box .name {
  font-size: 2rem;
  text-decoration: underline;
  color: var(--wine);
}
.product-detail .detail-box .brand {
  font-size: 1.2rem;
}
.product-detail .detail-box .update-time {
  color: var(--wine);
}
.product-detail .detail-box .country {
  color: #b9b9b9;
}
.product-detail .detail-box .btns {
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-detail .detail-box .btns .request {
  width: 300px;
}
.product-detail .detail-box .btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 35px;
  border: none;
  background: var(--wine);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  text-transform: capitalize;
}
.product-detail .detail-box .btns button.back {
  background: var(--black);
}
.product-detail .detail-box .btns a {
  width: 300px;
}
.product-detail .detail-box .btns button svg {
  font-size: 1.5rem;
}
.product-detail .detail-box .share {
  display: flex;
  align-items: center;
  border-top: 2px solid gray;

  /* max-width: 40%; */
  padding-top: 20px;
  gap: 10px;
}
.product-detail .detail-box .share a {
  padding: 5px;
  border: 2px solid gray;
  border-radius: 50%;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
@media screen and (max-width: 960px) {
  .product-detail {
    width: 100%;
  }
  .product-detail .detail-box .btns .request {
    width: 50%;
  }
  .product-detail .detail-box .btns a {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .product-detail {
    flex-direction: column;
    width: 100%;
  }
  .product-detail > * {
    gap: 30px;
    width: 100%;
  }
  .product-detail > .image-box .larg-image {
    height: auto;
  }
}
#pwaInstallButton {
  width: 50%;
  max-width: 400px;
  min-width: 200px;
  position: fixed;
  bottom: 30px;
  height: 60px;
  /* border: 2px solid gray; */
  border: none;
  outline: none;
  background: #240000;
  color: #fff;
  z-index: 121;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  text-decoration: underline;
  cursor: pointer;
}
#pwaInstallButton button {
  width: 40px;
  height: 40px;
  background: none;
  color: #fff;
  border: none;
  position: absolute;
  top: 0;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
}
body {
  scroll-behavior: smooth;
}
header {
  display: flex;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;

  align-items: center;
  top: 0;

  justify-content: space-between;
  padding: 0px 4rem;
  gap: 3vw;
  z-index: 111;
  /* background: rgba(0,0,0,0.2); */
}
header .box {
  padding: 10px 4rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
}
header .logo {
  width: 94px;
  height: 50px;
  object-fit: cover;
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 10px;
}
header nav .line {
  width: 100%;
  height: 2px;
  background: #fff;
}
header nav .cta-box {
  display: flex;
  align-self: flex-end;
  gap: 10px;
  align-items: center;
}
header nav .cta-box .social-media {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.1rem;
}
header nav .cta-box .social-media > :first-child {
  border-left: 2px solid #fff;
  padding-left: 10px;
}
header nav .menu-items {
  display: flex;
  gap: 3vw;
  align-items: center;
}

header nav .menu-items a,
header nav .cta-box a {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 400ms ease-in-out;
}
header nav .menu-items li.active a {
  font-size: 1.3rem;
  /* color: #8a8a8a; */
  text-decoration: line-through;
  letter-spacing: 2px;
}
header nav .cta-box a svg {
  font-size: 1.3rem;
}
header .search-box {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(92, 0, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.search-box-modal {
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(96, 39, 48, 0.5);
  backdrop-filter: blur(10px);
  flex-direction: column;
  gap: 10px;
  align-self: flex-end;
}
.search-item-modal {
  width: 320px;
  max-height: 40vh;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  padding: 10px;
  min-height: 40vh;
  align-items: center;
}
.search-item-modal .search-item {
  width: 100%;
  height: 80px;
  background: #0000000d;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.search-item-modal .search-item .box-item {
  display: flex;
  gap: 10px;
  color: #fff;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
.search-item-modal .search-item .box-item button {
  border: none;
  border-radius: 4px;
  outline: none;
  background: #240000;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
}
.x {
  flex: 0.8;
}
.search-item-modal .search-item img {
  width: 80px;
  height: 80px;
  border-radius: 8px;
}
.search-box-modal .form {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid #fff;
  padding: 0 20px;
  animation: searchBox 800ms ease-in-out;
}
.search-box-modal .form input {
  flex: 1;
  height: 100%;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  background: none;
}
.search-box-modal .form input::placeholder {
  color: #e7e7e7bd;
}
.search-box-modal .form svg {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
@keyframes searchBox {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    width: 300px;
    opacity: 1;
  }
}
#closeSearchBox {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 1.5rem;
  color: #fff;
  z-index: 2;
  cursor: pointer;
}
#menuButton {
  font-size: 2.2rem;
  color: #fff;
  align-self: flex-end;
  float: right;
  display: none;
  z-index: 222;
}
@media screen and (max-width: 1000px) {
  header {
    padding: 10px;
  }
}

@media screen and (max-width: 780px) {
  #menuButton {
    display: block;
  }
  header {
    padding: 20px;
  }
  header nav .line {
    display: none;
  }
  header .box {
    display: none;
  }
  .responsive {
    width: 100%;
    height: 100vh;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background: #2400009a;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: center;
    gap: 4rem;
    animation: openMenu 800ms ease-in-out;
  }
  header nav {
    flex: 0;
    flex-direction: column-reverse;
  }
  header nav .cta-box {
    flex-direction: column-reverse;

    gap: 20px;
  }
  header nav .cta-box .social-media {
    gap: 20px;
  }
  header nav .cta-box .social-media > :first-child {
    border: none;
  }
  header nav .menu-items {
    flex-direction: column;
    border: none;
  }
}
.closeMenuIcon {
  animation: closeMenuIcon 400ms ease-in-out;
}
@keyframes closeMenuIcon {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(180deg);
  }
}
@keyframes openMenu {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  background: url("/src/public/images/hero-section.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0px -90vh 900px rgba(96, 39, 47, 0.6);
  justify-content: start;
  align-items: center;
  position: relative;
  padding: 10vw;
  overflow: hidden;
}
.hero-section .title {
  font-size: 1.9rem;
  animation: titleHeroSection 500ms ease-in-out;
  color: aliceblue;
  max-width: 100%;
}

.hero-section .box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.hero-section .box .caption {
  max-width: 70%;
  animation: titleHeroSection 700ms ease-in-out;
  color: #c5cbd4;
}

.hero-section .box a {
  color: #c5cbd4;
  border: 1px solid #c5cbd4;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  backdrop-filter: blur(20px);
  border-radius: 2px;
  font-size: 1rem;
  animation: titleHeroSection 1000ms ease-in-out;
  transition: all 300ms ease;
}

.hero-section .box a:hover {
  color: #c5cbd4;
  border-color: #9a9ea3;
  opacity: 0.8;
  font-size: 0.7rem;
}

.hero-section .social-media {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero-section .social-media li {
  margin: 10px 0;
  width: 40px;
  border: 2px solid aliceblue;
  display: flex;
  border-radius: 50%;
  height: 40px;
  transition: all 300ms ease-in-out;
}

.hero-section .social-media li:first-child {
  animation: loadSocialMedia ease-in-out 500ms;
}

.hero-section .social-media li:nth-child(2) {
  animation: loadSocialMedia ease-in-out 700ms;
}

.hero-section .social-media li:nth-child(3) {
  animation: loadSocialMedia ease-in-out 900ms;
}

.hero-section .social-media li:nth-child(4) {
  animation: loadSocialMedia ease-in-out 1100ms;
}

.hero-section .social-media li a {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: aliceblue;
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
}

.hero-section .social-media li:hover {
  background: var(--wine);
  border-color: #c5cbd4;
}

.hero-section .social-media li:hover a {
  color: #c5cbd4;
}

#arrowDown {
  position: absolute;
  bottom: 5vh;
  color: aliceblue;
  font-size: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  animation: arrowDown infinite 800ms ease-in-out;
  cursor: pointer;
}

@keyframes arrowDown {
  0% {
    transform: translateY(-25%) translateX(-50%);
  }
  50% {
    transform: translateY(0) translateX(-50%);
  }
  100% {
    transform: translateY(-25%) translateX(-50%);
  }
}

@keyframes titleHeroSection {
  from {
    transform: translateY(60%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes loadSocialMedia {
  from {
    transform: translateX(12vw);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 980px) {
  .heroSection .social-media {
    right: 50px;
  }
  .heroSection {
    padding: 50px;
  }
}

.AboutTheCompany {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60vh;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding: 20px;
  animation: AboutTheCompany 1000ms ease-in-out;
}

.AboutTheCompany span:first-child {
  font-size: 1rem;
}

.AboutTheCompany span:nth-child(2) {
  font-weight: 900;
  font-size: 2rem;
}

.AboutTheCompany .box {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: lighter;
  color: #9a9ea3;
  text-align: center;
  align-items: center;
  letter-spacing: 0.5px;
}

.AboutTheCompany .box a {
  border: 1px solid #c82034ff;
  padding: 15px;
  width: 190px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #c82034ff;
  text-transform: capitalize;
  transition: all 200ms ease-in-out;
}

.AboutTheCompany .box a:hover {
  scale: 0.9;
  color: #000000;
  border-color: #000000;
}

.CompanyStats {
  width: 100%;
  padding: 20px;
  /* text-align: center;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; */
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  color: aliceblue;
}

.CompanyStats .box {
  width: 80%;
  height: 30vh;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-around;
  backdrop-filter: blur(10px);
  background: var(--wine);
  opacity: 0.9;
}

.CompanyStats .box div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: aliceblue;
  transition: all 200ms ease-in-out;
}

.CompanyStats .box div:hover {
  scale: 0.9;
}

.CompanyStats .box div span:nth-child(2) {
  font-size: 2.3rem;
}

.CompanyStats .box div svg {
  font-size: 4rem;
}

.ProjectAndServices {
  width: 100%;
  height: 50vh;
  background: var(--wine);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.ProjectAndServices .line {
  height: 90%;
  width: 1px;
  background: #9a9ea3;
}

.ProjectAndServices .box {
  color: #bfc4c9ef;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  text-align: center;
  font-size: 0.89rem;
  gap: 15px;
}

.ProjectAndServices .box .title {
  color: aliceblue;
  font-size: 1.4rem;
}

.ProjectAndServices .box a {
  color: #c5cbd4;
  border: 1px solid #c5cbd4;
  width: 160px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 10px;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
}

.ProjectAndServices .box a:hover {
  scale: 0.9;
  opacity: 0.6;
}

.ProjectsIndex {
  display: flex;
  height: 60vh;
  width: 100%;
  align-items: center;
  padding: 0 100px;
  justify-content: space-between;
  gap: 10px;
}

.ProjectsIndex .box:first-child {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ProjectsIndex .box:first-child .title {
  font-size: 1.4rem;
}

.ProjectsIndex .box:first-child span {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #0f302b;
}

.ProjectsIndex .box:first-child span a {
  border: 1px solid #9a9ea3;
  color: #9a9ea3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.ProjectsIndex .box:last-child {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.ProjectsIndex .box:last-child div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ProjectsIndex .box:last-child .item {
  width: 25%;
  height: 150px;
  background: var(--wine);
}

.ProjectsIndex .box:last-child .item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-width: 100%;
}

.ProjectsIndex .box:last-child .main {
  width: 40%;
  color: aliceblue;
  position: relative;
}

.ProjectsIndex .box:last-child .main a {
  position: absolute;
  text-decoration: underline;
  font-size: 0.8rem;
  bottom: 10px;
  right: 10px;
  color: rgba(255, 217, 0, 0.8);
  gap: 5px;
  display: flex;
  align-items: center;
}

.IndustryPride {
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  font-size: 2rem;
  color: aliceblue;
}

.ServiceIndex {
  width: 100%;
  height: 60vh;
  display: flex;
  padding: 40px;
  gap: 20px;
  align-items: center;
  flex-direction: row-reverse;
}

.ServiceIndex .box:first-child {
  font-size: 2rem;
  color: #091d1a;
  text-align: center;
}

.ServiceIndex .box:last-child {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.ServiceIndex .box:last-child .item {
  width: 25%;
  height: 150px;
  background: var(--wine);
  color: #ffffff;
}

.ServiceIndex .box:last-child .item:nth-child(2n) {
  background: #fff;
  color: var(--wine);
  border: 2px solid var(--wine);
}

.ServiceIndex .box:last-child .main {
  width: 40%;
}

.ServiceIndex .box:last-child div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

.ServiceIndex .box:last-child div svg {
  font-size: 2rem;
}

.ContactUsIndex {
  display: flex;
  position: relative;
  top: 10vh;
  width: 100%;
  height: 80vh;
  background: var(--wine);
  max-height: 540px;
  align-items: center;
  margin-bottom: 200px;
}

.ContactUsIndex .box {
  box-sizing: border-box;
}

.ContactUsIndex .box:first-child {
  width: 70%;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5vh 8vw;
  padding-right: 30%;
}

.ContactUsIndex .box:first-child .title {
  font-size: 2rem;
}

.ContactUsIndex .box:first-child .caption {
  font-size: 0.9rem;
  color: #9a9ea3;
}

.ContactUsIndex .box:first-child form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ContactUsIndex .box:first-child form input,
.ContactUsIndex .box:first-child form textarea {
  height: 50px;
  caret-color: rgb(65, 0, 0);

  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid #9a9ea3;
  color: #9a9ea3;
  resize: none;
}

.ContactUsIndex .box:first-child form button {
  height: 40px;
  border: none;
  color: aliceblue;
  background: #240000;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: all 500ms ease-in-out;
}

.ContactUsIndex .box:first-child form button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.ContactUsIndex .box:nth-child(2) {
  width: 40%;
  height: 70%;
  background: #181818;
  position: absolute;
  color: #ffffff;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10%;
  padding: 30px;
}

.ContactUsIndex .box:nth-child(2) .title {
  font-size: 1.4rem;
  letter-spacing: 1.5px;
}

.ContactUsIndex .box:nth-child(2) ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.ContactUsIndex .box:nth-child(2) li {
  color: #9a9ea3;
  display: flex;
  align-items: center;
  gap: 10px;
}

.ContactUsIndex .box:nth-child(2) li a {
  color: #9a9ea3;
  display: flex;
  gap: 10px;
}

.ContactUsIndex .socialMedia {
  align-self: flex-end;
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}

.ContactUsIndex .socialMedia span a {
  color: #000000;
  font-size: 1.2rem;
}

footer {
  width: 100%;
  background: #181818;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 10vw;
  align-items: center;
  position: relative;
}
footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul li {
  border-left: 1px solid #9a9ea3;
  text-transform: capitalize;
  padding: 0 2.5vw;
}
footer ul li:first-child {
  padding-left: 0;
  border: none;
}
footer ul li a,
footer ul li span {
  color: #fff;
  cursor: pointer;
}
footer ul li a.active {
  color: var(--wine);
  background: red;
}
.about_developer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.about_developer a {
  color: #b9b9b9;
  text-decoration: underline;
  text-transform: capitalize;
}
footer .social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
footer .social-media a {
  color: #181818;
  background: #9a9ea3;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#up {
  position: absolute;
  /* top: -50%; */
  transform: translateY(-50%) translateX(-50%) rotateZ(45deg);
  color: #181818;
  background: #ffffff;
  width: 50px;
  height: 50px;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  cursor: pointer;
}
#up span {
  position: absolute;
  transform: rotateZ(-45deg);
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#up span svg {
  animation: 900ms infinite arrowUp ease-in-out;
}
@keyframes arrowUp {
  0% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-25%);
  }
}
@media screen and (max-width: 1000px) {
  .ProjectsIndex {
    height: auto;
    flex-direction: column;
    padding: 20px;
  }
  .ProjectsIndex .box:first-child {
    width: 90%;
  }
  .ProjectAndServices {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .ProjectAndServices .line {
    width: 100%;
    height: 1px;
  }
}
@media screen and (max-width: 780px) {
  .ProjectsIndex .box:last-child .item {
    width: calc(45% - 5px);
  }
  .ProjectsIndex .box:last-child .main {
    width: 90%;
  }
  .ProjectAndServices {
    height: auto;
    padding: 20px;
  }
  #arrowDown {
    display: none;
  }
  .hero-section {
    padding: 20px;
  }
  .hero-section .social-media {
    top: 95%;
    flex-direction: row;
    right: 0;
    width: 100%;
  }
  .hero-section .social-media ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }
  .hero-section .box {
    width: 100%;
  }
  .AboutTheCompany {
    height: auto;
    text-align: center;
  }
  .AboutTheCompany .box {
    width: 100%;
    text-align: center;
  }
  .CompanyStats .box {
    display: flex;
    height: auto;
    gap: 20px;
    padding: 15px 0;
    flex-direction: column;
  }
  .CompanyStats {
    /* background-size: auto; */
    /* background-position: a; */
  }
  .IndustryPride {
    text-align: center;
    padding: 10px;
  }
  .ServiceIndex {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }

  .ServiceIndex .box:last-child .item {
    width: calc(45% - 5px);
    display: flex;
    flex-direction: column;
  }
  .ServiceIndex .box:last-child .main {
    width: 90%;
  }
  .ContactUsIndex {
    height: auto;
    margin: 0;
    max-height: none;
    flex-direction: column;
  }
  .ContactUsIndex .box:first-child {
    width: 100%;
    padding: 3rem 2rem;
  }
  .ContactUsIndex .box:nth-child(2) {
    position: relative;
    width: 100%;
    gap: 30px;
    height: 100%;
  }
  .ContactUsIndex .box:nth-child(2) ul {
    gap: 20px;
  }
  .ContactUsIndex .socialMedia {
    align-self: center;
  }
  footer {
    flex-direction: column;
    height: 300px;
    justify-content: center;
    gap: 30px;
  }
  footer ul {
    gap: 20px;
    flex-direction: column;
  }
  footer ul li {
    border: none;
  }
}
#closeLogin {
  position: absolute;
  top: 100px;
  right: 40px;
  color: red;
  font-size: 2rem;
}
.login-page {
  width: 100%;
  height: 100vh;
  background: #0000009f;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 122;
  bottom: 0;
  backdrop-filter: blur(10px);
  right: 0;
  align-items: center;
  justify-content: center;
}
.login-page .box {
  width: 300px;
  height: 420px;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 10px gray;
  border-radius: 2px;
  justify-content: space-between;
  gap: 20px;
}

.login-page .box .login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}
.login-page .box .login-header h2 {
  font-size: 1.2rem;
  color: #777777;
}
.login-page .box .line {
  display: flex;
  gap: 5px;
  padding: 0 20px;

  align-items: center;
}
.login-page .box .line .dash {
  flex: 1;
  height: 2px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.774);
  background: #880000;
}
.login-page .box .line span {
  text-transform: uppercase;
}
.login-page .box .login-header img {
  width: 200px;
  height: 100px;
}
.login-page .box form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 0 20px;
}
.login-page .box form .input {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 10px;
  width: 100%;
  gap: 5px;
  height: 40px;
  border-bottom: 2px solid #880000;
}
.login-page .box form .input input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
}
.login-page .blur-box {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  animation: LoginBlurBox ease-in-out 500ms;
}
@keyframes LoginBlurBox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.login-page .box form .input svg {
  font-size: 1rem;
  cursor: pointer;
  color: #880000;
}
.login-page .box form button {
  width: 100%;
  height: 30px;
  border: none;
  background: #880000;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  letter-spacing: 1px;
  text-transform: capitalize;
  cursor: pointer;
}
.login-page .box form button:last-child {
  background: none;
  color: #240000;
  border: 2px solid #240000;
}
.login-page .box form .password {
  z-index: 4;
}

.login-page .box form .input .eyes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 9rem;
  background: #240000;
  justify-content: space-between;
  color: #fff;
  padding: 3rem 0;
  gap: 40px;
}
.sidebar .list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  align-items: center;
  padding-left: 5px;
}
.sidebar .list li {
  width: 100%;
  transition: all 700ms ease-in-out;
  padding: 5px 0;
  position: relative;
  max-width: 100%;
  z-index: 1;
  overflow: hidden;
  border-radius: 10px 0 0 10px;
}
.sidebar .list a {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}
.sidebar .list a svg {
  font-size: 1.4rem;
}
.sidebar .list li.active {
  background: white;
  border-radius: 20px 0 0 20px;
}
.sidebar .list li.active a {
  color: #240000;
}
.sidebar .list li.active:hover {
  background: #fff;
  border-radius: 20px 0 0 20px;
}

.sidebar .logout {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  color: #9b0000;
  width: 100%;
  cursor: pointer;
  text-transform: capitalize;
  margin: 0 auto;
  justify-content: center;
}

.sidebar .logout svg {
  color: #9b0000;
}
.sidebar .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
  text-transform: capitalize;
  gap: 10px;
}
.sidebar .profile svg {
  font-size: 2rem;
}

.card1:hover {
  p {
    transition: all 0.3s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  h3 {
    transition: all 0.3s ease-out;
    color: #ffffff;
  }
}
.sidebar .list li:hover::before {
  transform: scale(29);
}
.sidebar .list li:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -20px;
  right: 20px;
  background: #ffffffc2;
  height: 10px;
  width: 10px;
  border-radius: 32px 0 0 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}
.sidebar .list li:hover a {
  color: rgb(27, 27, 27);
}

.ListAdmins {
  padding: 3rem 0;
}
.ListAdmins .all-admins {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 95%;
  height: calc(100vh - 6rem);
  max-height: calc(100vh - 6rem);
  overflow-y: auto;
}
.ListAdmins .all-admins .admin {
  display: flex;
  gap: 30px;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  background: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 7px 10px rgba(128, 128, 128, 0.2);
  overflow: hidden;
  min-height: 95px;
  position: relative;
  z-index: 0;
}
.ListAdmins .all-admins .admin::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -20px;
  right: 20px;
  background: #0000000e;
  height: 10px;
  width: 10px;
  border-radius: 32px 0 0 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 400ms ease-out;
}

.ListAdmins .all-admins .admin:hover::before {
  transform: scale(190);
  cursor: auto;
}
.ListAdmins .all-admins .admin .user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ListAdmins .all-admins .admin .user svg {
  font-size: 3rem;
  background: #000;
  color: #800000;
  border-radius: 50%;
  box-shadow: 0px 3px 7px rgb(0, 0, 0);
}
.ListAdmins .all-admins .admin .user .user-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.ListAdmins .all-admins .admin .user .user-info span:first-child {
  text-transform: capitalize;
}
.ListAdmins .all-admins .admin .user .user-info span:last-child {
  color: gray;
}

.ListAdmins .all-admins .admin .delete {
  color: #800000;
  font-size: 1.3rem;
  cursor: pointer;
}
.confirm-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 9rem);
  height: 100vh;
  position: fixed;
  z-index: 3;
  background: rgba(0, 0, 0, 0.178);
  backdrop-filter: blur(10px);
  top: 0;
  right: 0;
  color: #000;
  box-shadow: none;
  font-size: 1rem;
}
.confirm-modal .confirm-modal-box {
  width: 390px;
  height: 250px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(77, 77, 77, 0.548);
  align-items: center;
  animation: ConfirmModal 500ms ease-in-out;
}

.confirm-modal .confirm-modal-box > .title {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 10px 0;
}
.confirm-modal .confirm-modal-box > .caption {
  font-weight: 400;
}
.confirm-modal .confirm-modal-box > .caption span {
  font-weight: 600;
  color: #240000;
}
.confirm-modal .confirm-modal-box .warning {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 20px;
  background: #ffe9d9;
  border-left: 5px solid #fa703f;
  gap: 5px;
}
.confirm-modal .confirm-modal-box .warning .title {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  color: #771505;
  gap: 10px;
  text-transform: capitalize;
}
.confirm-modal .confirm-modal-box .warning .caption {
  font-size: 0.9rem;
  color: #bc4c2e;
}
.confirm-modal .confirm-modal-box .buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.confirm-modal .confirm-modal-box .buttons button {
  width: calc(50% - 10px);
  height: 35px;
  background: #000;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}
.confirm-modal .confirm-modal-box .buttons button:last-child {
  color: #771505;
  border: 2px solid #771505;
  background: none;
}
.dashboard-content {
  padding-left: 9rem;
}

.profile-page {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.profile-page .profile-box {
  width: 350px;
  height: 150px;
  background: #0000001f;
  border-radius: 20px;
  box-shadow: 0px 0px 10px gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
.profile-page .profile-box .profile {
  font-size: 3rem;
}
.profile-page .profile-box .profile-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ProjectsHeroSection {
  width: 100%;
  color: #240000;
  height: 100vh;
}

.ProjectsHeroSection {
  width: 100%;
  /* height: 100vh; */
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.ProjectsHeroSection .image-box {
  width: 100%;
  height: 70%;
  display: flex;
  position: relative;
  box-shadow: 0 5px 40px #240000;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  justify-content: center;
  background-repeat: no-repeat;
  flex-direction: column;

  gap: 10px;
}

.ProjectsHeroSection .image-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #31000081, #2b0000b7);
  z-index: 1;
  opacity: 0.9;
}
.ProjectsHeroSection .image-box span {
  color: white;
  z-index: 22;
  font-size: 1rem;
}
.ProjectsHeroSection .image-box h2 {
  font-weight: bold;
  z-index: 11;
  font-size: 3rem;
  background: linear-gradient(200deg, rgb(156, 156, 156), #fff);
  background-clip: text;
  color: transparent;
}

.ProjectsHeroSection .search-box {
  display: flex;
  width: 90%;
  overflow-x: hidden;
  height: 5rem;
  align-items: end;
  gap: 30px;

  padding-left: 30px;
}
.ProjectsHeroSection .search-box .box {
  display: flex;
  gap: 20px;
}
.ProjectsHeroSection .search-box .search-input {
  display: flex;
  width: 40%;
  max-width: 400px;
  gap: 10px;
  height: 2.9rem;
  align-items: center;
  padding-left: 20px;
  border-bottom: 2px solid #240000;
}

.ProjectsHeroSection .search-box .search-input svg {
  color: #240000;
  font-size: 1.5rem;
}
.ProjectsHeroSection .search-box .search-input input {
  flex: 1;
  height: 100%;
  background: none;
  border: none;
  outline: none;
}
.ProjectsHeroSection .search-box .box {
  display: flex;
  align-items: end;
  width: 100%;
  height: 100%;
}
.ProjectsHeroSection .search-box .box .brands {
  overflow-x: auto;
  max-width: 65%;
  gap: 10px;
  display: flex;
  align-items: end;
  height: 100%;
}
.ProjectsHeroSection .search-box .box .brands span {
  border: 1px solid #24000081;
  border-top: none;
  cursor: pointer;
  border-right: none;
  border-left: none;
  padding: 3px 16px;
  transition: 200ms ease-in-out all;
}
.ProjectsHeroSection .search-box .box .brands span:hover {
  letter-spacing: 2px;
}
.projects-page .project-list {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-bottom: 100px;
  min-height: calc(100vh - 360px);
}
.projects-page .project-list .project-item {
  padding: 10px;
  width: 280px;
  height: 270px;
  display: flex;
  border-radius: 4px;
  flex-direction: column;
  gap: 5px;
  border: 0.5px solid rgba(128, 128, 128, 0.267);
}

.projects-page .project-list .project-item img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  mix-blend-mode: multiply;
  border-radius: 2px;
}
.projects-page .project-list .project-item .title {
  padding: 0 20px;
  padding-top: 10px;
}
.projects-page .project-list .project-item .brand {
  font-size: 0.9rem;
  color: rgb(128, 128, 128);
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
}
.dashboard-content .Projects form button,
.projects-page .project-list .project-item button {
  border: none;
  height: 30px;
  background: #240000;
  cursor: pointer;
  color: #f1f1f1;
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.projects-page .project-details {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(1px);
  box-shadow: inset 0 0 1000px rgb(112, 112, 112);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 222;
}
.projects-page .project-details > .box {
  box-shadow: 0 10px 10px gray;
  border-radius: 4px;
  display: flex;
  height: 300px;
  backdrop-filter: blur(12px);
  align-items: center;
  width: 600px;
}
.projects-page .project-details > .box img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.projects-page .project-details > .box .box {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  height: 90%;
  flex-direction: column;
}
@media screen and (max-width: 780px) {
  .dashboard-content .list-project {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .dashboard-content .list-project .list-project-box {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .dashboard-content .list-project .list-project-box .project-item {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .ProjectsHeroSection .search-box {
    padding-top: 30px;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: flex-start;
  }
  .ProjectsHeroSection .search-box .search-input {
    width: 90%;
    max-width: none;
  }
  .projects-page .project-list .project-item {
    width: 100%;
  }
}
@media screen and (max-width: 670px) {
}
.AddAdmin {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.AddAdmin form {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;
}
.AddAdmin form .input-box {
  width: 100%;
  height: 40px;
  display: flex;
  border-bottom: 2px solid gray;
  gap: 10px;
  align-items: center;
}
.AddAdmin form .input-box input {
  height: 100%;
  flex: 1;
  background: none;
  border: none;
  outline: none;
}
.AddAdmin form .input-box svg {
  color: #525252;
}
.AddAdmin form button {
  background: #240000;
  height: 30px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 4px;
  letter-spacing: 1px;
}
.dashboard-content .Projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 4rem);
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dashboard-content .Projects form {
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard-content .Projects form .input-box {
  width: 100%;
  align-items: center;
  height: 40px;
  display: flex;
  gap: 10px;
  border-bottom: 2px solid #24000067;
}
#fileImageLabel {
  text-decoration: underline;

  color: #24000044;
}
#fileImageInput {
  display: none;
}
.dashboard-content .Projects form .input-box input,
.dashboard-content .Projects form .input-box textarea {
  resize: none;
  width: 100%;

  border: none;
  background: none;
  outline: none;
  display: flex;

  height: 100%;
}
.dashboard-content .Projects form .input-box textarea {
  height: 40px;
}
.dashboard-content .project-header {
  width: 100%;
  height: 4rem;
  display: flex;
  padding: 0 30px;
  align-items: center;
  border-bottom: 2px solid #24000056;
  gap: 20px;
}
.dashboard-content .project-header .item {
  border-right: 2px solid #240000;
  color: black;
  cursor: pointer;
  padding-right: 20px;
}
.dashboard-content .project-header .active {
  letter-spacing: 2px;
  color: red;
  background: #000;
}

.dashboard-content .list-project {
  width: 100%;
  height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.dashboard-content .list-project .list-project-box {
  width: 80%;
  max-height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  gap: 20px;
}
.dashboard-content .list-project .list-project-box .project-item {
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  height: 210px;
  border-radius: 4px;
  border: 2px solid #8d8d8d46;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashboard-content .list-project .list-project-box .project-item .description {
  max-height: 90px;
  overflow-y: auto;
}
.dashboard-content .list-project .list-project-box .project-item img {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.dashboard-content .list-project .list-project-box .project-item > .box {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 90%;
}
.dashboard-content .list-project .list-project-box .project-item > .box .box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dashboard-content .list-project .list-project-box .project-item > button {
  border: none;
  height: 30px;
  outline: none;
  color: #fff;
  display: flex;
  align-items: center;
  background: #240000;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.dashboard-content .list-project .list-project-box .project-item > button svg {
  font-size: 1.3rem;
}
.check-captcha {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #00000088;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  align-items: center;
  z-index: 322;
}
.modal-captcha-bot {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 303px;
}
.modal-captcha-bot h3 {
  color: #fff;
  font-weight: 200;
}

.modal-captcha-bot .btns {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.modal-captcha-bot .btns button {
  width: 50%;
  height: 30px;
  color: #ffffff;
  border: none;
  border: 2px solid #ffffff8a;
  border-radius: 4px;
  cursor: pointer;
  background: none;
}
.modal-captcha-bot .btns button:last-child {
  background: #00000073;
  border: none;
}
.dashboard-content .Messages {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  gap: 20px;
}
.dashboard-content .Messages .messages-box {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
  max-height: calc(80vh - 3.3rem);
  overflow-y: auto;
}

.dashboard-content .Messages .messages-box .message-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 80px;
  background: #ecececc0;
  border-radius: 4px;
  padding: 19.5px;
  position: relative;
}
.dashboard-content .Messages .messages-box .box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.dashboard-content .Messages .messages-box .message-item .box .one-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.dashboard-content .Messages .messages-box .message-item .box button {
  height: 25px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  background: #d6d6d6;
}
.dashboard-content
  .Messages
  .messages-box
  .message-item
  .box
  button:last-child {
  border: 1px solid red;
  background: none;
  color: red;
}
.dashboard-content .Messages .messages-box .message-item .circle {
  width: 10px;
  height: 10px;
  background: #00aeff;
  box-shadow: 0px 0px 10px rgb(140, 242, 255);
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  /* opacity: 0.5;   */
}

.dashboard-content .Messages .messages-box .message-item .show-message {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.dashboard-content .Messages .messages-box .email {
  cursor: pointer;
}
.isReadFalse {
  border: 1px solid #0bb2ff88;
  background: #8a8a8a3b;
}
.dashboard-content .Messages .pagination {
  display: flex;
  gap: 20px;
  align-items: center;
}
.dashboard-content .Messages .pagination button {
  width: 70px;
  border: none;
  background: #240000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.dashboard-content .Messages .pagination button:disabled {
  background: #2400008e;
  color: #000000;
}
.sidebar-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 2.2rem;
  z-index: 13;
  display: none;
  color: #fff;
}

.uploading-modal {
  position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
}
.uploading-modal .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #fff;
}
.uploading-modal .box .title {
  color: var(--cardinal);
  width: 250px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* To ensure the ::after pseudo-element is positioned relative to the title */
}

.uploading-modal .box .title::after {
  content: "Uploading project to server...";
  position: absolute;
  top: 0;
  left: 0;
  animation: uploading 2s infinite ease-in-out;
}

@keyframes uploading {
  0% {
    content: "Uploading project to server ";
  }
  20% {
    content: "Uploading project to server .";
  }
  40% {
    content: "Uploading project to server ..";
  }
  60% {
    content: "Uploading project to server ...";
  }
  80% {
    content: "Uploading project to server ....";
  }
  100% {
    content: "Uploading project to server .....";
  }
}

@media screen and (max-width: 860px) {
  .sidebar-menu {
    display: block;
  }
  .sidebar {
    display: none;
  }
  .sidebar-mobile {
    width: 80%;
    height: 100vh;
    position: fixed;
    background: #240000;
    z-index: 12;
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: sidebar 500ms ease-in-out;
  }
  .dashboard-content {
    padding: 3rem 0;
  }
  .confirm-modal {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .dashboard-content .Messages .messages-box .message-item {
    min-height: auto;
  }
  .dashboard-content .Messages .messages-box .message-item .box {
    gap: 5px;
    flex-direction: column;
  }
}
@keyframes sidebar {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
.open-side-bar {
  color: #000;
  animation: openSideBar 500ms ease-in-out;
}
.close-side-bar {
  /* color: #000; */
  transition: 500ms;
  animation: openSideBar 500ms ease-in-out;
}

@keyframes openSideBar {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.undefind {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.undefind .box {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.undefind .box h2 {
  font-size: 3rem;
  color: #240000;
}
.undefind .box span {
  font-size: 1.5rem;
}
.undefind .box a {
  color: #000;
  text-decoration: underline;
}
.undefind .logo {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 150px;
  height: 80px;
  object-fit: cover;
}
.loading {
  height: 100vh;
  display: grid;
  place-content: center;
  background: rgb(255, 255, 255);
}
.loader {
  height: 300px;
  aspect-ratio: 1;
  position: relative;
}

.loader .box {
  position: absolute;
  background: rgba(100, 100, 100, 0.15);
  background: linear-gradient(
    0deg,
    rgba(50, 50, 50, 0.2) 0%,
    rgba(100, 100, 100, 0.2) 100%
  );
  /* clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%); */
  border-radius: 50%;
  border-top: 1px solid rgba(100, 100, 100, 1);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  backdrop-filter: blur(5px);
  animation: ripple 2s infinite ease-in-out;
}

.loader .box:nth-child(1) {
  inset: 40%;
  z-index: 99;
}

.loader .box:nth-child(2) {
  inset: 30%;
  z-index: 98;
  border-color: rgba(100, 100, 100, 0.8);
  animation-delay: 0.2s;
}

.loader .box:nth-child(3) {
  inset: 20%;
  z-index: 97;
  border-color: rgba(100, 100, 100, 0.6);
  animation-delay: 0.4s;
}

.loader .box:nth-child(4) {
  inset: 10%;
  z-index: 96;
  border-color: rgba(100, 100, 100, 0.4);
  animation-delay: 0.6s;
}

.loader .box:nth-child(5) {
  inset: 0%;
  z-index: 95;
  border-color: rgba(100, 100, 100, 0.2);
  animation-delay: 0.8s;
}

.loader .logo {
  position: absolute;
  inset: 0;
  display: grid;
  place-content: center;
  padding: 30%;
}

.loader .logo svg {
  fill: grey;
  width: 100%;
  animation: color-change 2s infinite ease-in-out;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  }
  50% {
    transform: scale(1.3);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 20px -0px;
  }
  100% {
    transform: scale(1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 10px -0px;
  }
}

@keyframes color-change {
  0% {
    fill: grey;
  }
  50% {
    fill: white;
  }
  100% {
    fill: grey;
  }
}

.aboutUs .hero-section {
  width: 100%;
  height: 50vh;
  justify-content: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: #ffffff;
  background-position: center;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aboutUs .hero-section span {
  font-size: 1.2rem;
}
.aboutUs .hero-section p {
  font-size: 1.4rem;
}

.aboutUs .hero-section h2 {
  background: linear-gradient(to top left, #240000, #fff);
  background-clip: text;
  color: transparent;
}
.aboutUs .about-services {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.aboutUs .about-services .box {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.aboutUs .about-services .box .item {
  width: 250px;
  height: 250px;
  min-width: 250px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 4px;
  /* justify-content: ; */
  gap: 20px;
}
.aboutUs .about-services .box .item .icon {
  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 4px;
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 780px) {
  .aboutUs .about-services .box .item {
    width: 100%;
  }
}
.aboutUs .about-services .box .item .title {
  font-size: 1.3rem;
}
.z {
  flex: 1;
}
.aboutUs .about-services .box .item a {
  color: #000;
  text-decoration: underline;
}

.aboutUs .Mission,
.aboutUs .aboutus-section {
  width: 100%;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
}
.aboutUs .aboutus-section img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.aboutUs .Mission .box,
.aboutUs .aboutus-section .box {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.aboutUs .Mission .title,
.aboutUs .aboutus-section .box .title {
  font-size: 2rem;
  color: #240000;
}
.aboutUs .Mission span,
.aboutUs .aboutus-section .box div > span {
  font-size: 1.2rem;
  color: #240000;
}
.aboutUs .Mission {
  gap: 20px;
}
.aboutUs .Mission img {
  width: 400px;
  height: 200px;
  object-fit: cover;
}
.Vision {
  width: 100%;
  height: 25vh;
  display: flex;
  /* flex-direction: row-reverse; */
  align-items: center;
  justify-content: space-around;
}
.core-value .box,
.Vision .box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 4px;
}
.core-value .box .title,
.Vision .box .title {
  font-size: 2rem;
  color: #240000;
  text-decoration: underline;
}
.core-value {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 35vh;
}
.core-value ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.core-value ul span {
  color: #240000;
  font-size: 1.2rem;
}
.last-projects {
  width: 80%;
  margin: 0 auto;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  overflow-x: hidden;
}
.last-projects .box {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 80%;
  padding: 20px;
  max-width: 80%;
}
.last-projects .box .item {
  min-width: 300px;
  height: 150px;
  position: relative;
  border: 1px solid rgba(128, 128, 128, 0.425);
  display: flex;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.last-projects .box .item div {
  z-index: 3;
  color: white;


}
.last-projects .box .item img {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  border-radius: 4px;
  position: absolute;
  object-fit: cover;
}
.last-projects .box .item::after {
  position: absolute;
  content: "";z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  border-radius: 4px;
}
@media screen and (max-width: 780px) {
  .aboutUs .Mission {
    flex-direction: column;
  }
  .aboutUs .aboutus-section {
    flex-direction: column-reverse;
  }
  .aboutUs .aboutus-section .box,
  .aboutUs .Mission .box {
    width: 100%;
  }
  .aboutUs .aboutus-section img,
  .aboutUs .Mission img {
    width: 100%;
    height: auto;
  }
  .core-value {
    height: auto;
  }
  .Vision {
    height: auto;
  }
}
.project-item-page-box {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.project-item-page-box h2 {
  text-decoration: underline;
  text-transform: capitalize;
}
.project-item-page {
  gap: 20px;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-item-page .box {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.project-item-page .box:first-child {
  padding: 20px;
  width: 300px;
  height: 300px;
  border: 1px solid gray;
  border-right: none;
}
.project-item-page .title {
  flex: 1;
  font-size: 2rem;
}

.project-item-page .description {
  max-height: 80%;
  overflow-y: auto;
}
.project-item-page img {
  width: 100%;
  height: 100%;
}
.project-item-page .category,
.project-item-page .brand {
  font-size: 0.9rem;
  color: gray;
}
.project-item-page .box button {
  width: 100%;
  height: 30px;
  border: none;
  background: #240000;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
.project-item-page .box > button.last-btn {
  background: #fff;
  border: 1px solid #000;
}
.project-item-page .box button a {
  text-transform: capitalize;
  text-decoration: underline;
  /* color: #fff; */
  color: #000;
}
@media screen and (max-width: 930px) {
  .project-item-page {
    padding: 20px;
  }
}
@media screen and (max-width: 780px) {
  .project-item-page {
    gap: 60px;
    padding: 10px;
    flex-direction: column;
  }
  .project-item-page .box {
    justify-content: start;
  }
  .project-item-page .box img {
  }
  .project-item-page .box:first-child {
    border-right: 1px solid gray;
  }
  .project-item-page .title {
    flex: none;
  }
  .project-item-page .box:first-child {
    width: 100%;
  }
}
.request-box {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 22;
  background: rgba(0, 0, 0, 0.6);
}
.request-box > .box {
  width: 300px;
  /* height: 300px; */
  background: rgba(0, 0, 0, 0.2);
  color: white;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  gap: 10px;
  animation: ConfirmModal 500ms ease-in-out;
  padding: 10px;
}
.request-box .input-box input {
  width: 100%;
  height: 100%;
  border: none;
  color: #fff;
  outline: none;
  background: none;
  border-bottom: 2px solid white;
}
.request-box .input-box input::placeholder {
  color: rgb(167, 167, 167);
  outline: none;
}
.request-box .input-box {
  margin: 10px 0;
  height: 40px;
  width: 100%;
}
.request-box .box .last-btn {
  background: none;
  border: 1px solid rgb(167, 167, 167);
  color: rgb(255, 255, 255);
  margin: 5px 0;
}
.request-box .box button {
  width: calc(50% - 10px);
  height: 30px;
  cursor: pointer;
  margin: 0 5px;
}
.request-box .box button:not(.last-btn) {
  background: var(--wine);
  color: #fff;
  border: none;
}
@keyframes ConfirmModal {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
